.container {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600;
  color: rgb(17, 9, 9);
  font-size: 48px;
  text-align: center;
}
